CLAssignment3__Client/Service References/WordGameReference/CLAssignment3__Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CLAssignment3__Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CLAssignment3__Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameAlreadyHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="isGameBeingHosted" type="xs:boolean" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameAlreadyHostedException" nillable="true" type="tns:GameAlreadyHostedException" />
  <xs:complexType name="GameBeingHostedException">
    <xs:sequence>
      <xs:element minOccurs="0" name="hosted" type="xs:boolean" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBeingHostedException" nillable="true" type="tns:GameBeingHostedException" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="scrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="MaximumNumberOfPlayersException">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerAmmount" type="xs:int" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaximumNumberOfPlayersException" nillable="true" type="tns:MaximumNumberOfPlayersException" />
  <xs:complexType name="HostCantJoinException">
    <xs:sequence>
      <xs:element minOccurs="0" name="playerAmmount" type="xs:int" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostCantJoinException" nillable="true" type="tns:HostCantJoinException" />
  <xs:complexType name="PlayerNotPLayingTheGameException">
    <xs:sequence>
      <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerNotPLayingTheGameException" nillable="true" type="tns:PlayerNotPLayingTheGameException" />
</xs:schema>